<div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
              <img src="https://statics.eleconomista.com.ar/2024/06/6671b67bae71f.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.resfu.com/media/img_news/creatividad-de-espana-como-campeona-de-la-eurocopa-2024--besoccer.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://www.ole.com.ar/images/2024/07/20/1GZG0BTgH_720x0__1.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div> 
          <h2 class="subtitulo">NOTICIAS DE ULTIMO MOMENTO</h2>
          <div class="container">
            <div class="row" >
              <div  class="col"><div class=" card margenes" style="width: 18rem;">
                <img src="https://media.tycsports.com/files/2024/07/15/742163/argentina-campeon-de-la-copa-america-2024_1440x810_wmk.webp?v=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ARGENTINA BICAMEPONA</h5>
                      <p class="card-text"> La seleccion Argentina logra ganar la copa america ante colombia </p>
                    </div>   
                  </div>
            </div>
            <div  class="col"><div class="card margenes" style="width: 18rem;">
              <img src="https://media.tycsports.com/files/2024/07/14/741936/espana-con-el-trofeo-de-la-eurocopb_1440x810.webp?v=1" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ESPAÑA CAMPEONA</h5>
                <p class="card-text"> La seleccion española logra ganar la Eurocopa ante Inglaterra </p>
                </div>   
              </div>
        </div>
      </div>
    </div>
    <h2>Champions</h2> 
    <div id="Champions" class="row" scroll_section >
      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0"  class="hero scroll_section">
          <img src="/img/lachampions.PNG" alt="Descripción de la imagen" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
          <p>A partir de la temporada 2024/25, el número de clubes participantes en la fase de liga de la Champions League se incrementará de 32 a 36 equipos. Esta ampliación permitirá que cuatro equipos adicionales tengan la oportunidad de competir contra los mejores clubes de Europa en una competición liga única donde todos los clubes estarán clasificados juntos. Pero esto trae aparejados una serie de cambios en el formato del torneo que ha traído confusión entre los hinchas.</p>
      </div>
  </div>
  
  </div>
  <h2>Libertadores</h2>
  <div  id="Libertadores" class="row" scroll_section>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <img src="/img/fixture.PNG" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <p> 
          <li> PARTIDOS DE IDA :
            <ul>
              San Lorenzo vs. Atlético Mineiro | martes 13/08, a las 21.30 | Estadio Nuevo Gasómetro Nacional vs. Sao Paulo | jueves 15/08, a las 21.30 | Estadio Gran Parque Central Flamengo vs. Bolívar | jueves 15/08, a las 21.30 | Estadio Maracaná Colo Colo vs. Junior | martes 13/08, a las 21.30 | Estadio Monumental Darío Arellano Talleres vs. River Plate | miércoles 14/08, a las 21.30 | Estadio Mario Alberto Kempes Peñarol vs. The Strongest | miércoles 14/08, a las 19 | Estadio Campeón del Siglo Botafogo vs. Palmeiras | miércoles 13/08, a las 21.30 | Estadio Olímpico Nilton Santos Gremio vs. Fluminense | martes 13/08, a las 19 | Estadio Arena do Gremio 
            </ul> 
          </li>
          <li>PARTIDOS DE VUELTA :  
            <ul>
              Atlético Mineiro vs. San Lorenzo | martes 20/08, a las 21.30 | Estadio Mineirao Sao Paulo vs. Nacional | jueves 22/08, a las 19 | Estadio Morumbi Bolívar vs. Flamengo | jueves 22/08, a las 21.30 | Estadio Hernando Siles Junior vs. Colo Colo | martes 20/08, a las 21.30 | Estadio Metropolitano Roberto Meléndez River Plate vs. Talleres | miércoles 21/08, a las 21.30 | Estadio Monumental The Strongest vs. Peñarol | miércoles 21/08, a las 19 | Estadio Hernando Siles Palmeiras vs. Botafogo | miércoles 21/08, a las 21.30 | Estadio Allianz Parque Fluminense vs. Gremio | martes 20/08, a las 19 | Estadio Maracaná
            </ul>
          </li>
        </p>
        
    </div>
  </div>

<div class="row my-3">
  <div id="noticias" class="col-md5-offset-md-2 py-3" class="row" scroll_section>
    <h2>Futbol Argentino</h2>
   <ul class="lista-noticias">
  {{#each noticias}}
    <li>
      <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">
        <img src="{{imagen}}">
        <span>{{titulo}}</span>
      </a>
    </li>
  {{/each}}
</ul>
</div>

{{#each noticias}}
  <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">TITULO</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>{{titulo}}</h2>
          <h3>{{subtitulo}}</h3>
          <img src="{{imagen}}/">
          <p>{{cuerpo}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}



  <div  id="Conocenos" class="row" scroll_section>
    <div class="col-md-4 offset-md-2">
      <h2>Visítanos</h2>
      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.218843463763!2d-58.42269728943492!3d-34.59862725711528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2e1493a6a3%3A0x1862a7c0b8163e5d!2sUTN.BA!5e0!3m2!1ses-419!2sar!4v1722264433115!5m2!1ses-419!2sar"></iframe>
      </div>
    </div>
    
    <div class="col-md-4 mt-4 mt-sm-0">
      <h2>Contáctanos</h2>
      <form class="row g-3" action="/" method="post">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" >
        </div>
        <div class="col-md-6">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="usuario@email.com" >
        </div>
        <div class="col-12">
          <label for="tel" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="tel" name="tel"  placeholder="..." >
        <div class="col-12">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea class="form-control" id="mensaje" name="mensaje" rows="3">
          </textarea>
        </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>  
        </div>
      </form>
      {{message}}
    </div>
  </div>
  